@using System.Web.UI.WebControls
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title - POS</title>
    <link href="~/Content/Layout/fontawesome.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="~/Content/Layout/sb-admin-2.css" rel="stylesheet" />
</head>

<body id="page-top">
    <div id="wrapper">
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <div class="sidebar-brand-icon">@Html.ActionLink("POS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</div>
            <hr class="sidebar-divider my-0">
            @Html.Partial("_sidebar")
        </ul>
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <button id="sidebarToggle"><span><img src="https://img.icons8.com/ios-glyphs/15/000000/list.png"></span></button>
                    <ul class="navbar-nav ml-auto">
                        @Html.Partial("_LoginPartial")
                    </ul>
                </nav>

                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>

            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>&copy; @DateTime.Now.Year - POS</span>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <!-- Core plugin JavaScript-->
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Content/Layout/jquery.easing.min.js"></script>
    <!-- Bootstrap core JavaScript-->
    <script src="~/Content/Layout/jquery.min.js"></script>
    <script src="~/Content/Layout/bootstrap.bundle.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="~/Content/Layout/sb-admin-2.min.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        $('.userDropdown').click(function () {
            $('.userDropdownOpen').toggle();
        });
    </script>
</body>
</html>






