@using POS.Identity
@model POS.Identity.LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = null;
}
<link href="~/Content/CSS/login.css" rel="stylesheet" />
@Scripts.Render("~/bundles/modernizr")


@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new {role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="login-page">
        <div class="form">
            <form  method="Post">
                <input class="width-full" type="email" name="Email" id="Email" placeholder="Email" required="Required"/>
                <input class="width-full" type="password" name="Password" id="Password" placeholder="password" required="Required"/>
                
                <div class="text-l">
                    @Html.CheckBoxFor(m => m.RememberMe, new {@class="chk-size" })
                    @Html.LabelFor(m => m.RememberMe, new {@class=""})
                </div>

                <button type="submit">Login </button>
            </form>
        </div>
    </div>

}

<script>
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
</script>